@import url(https://fonts.googleapis.com/css?family=Roboto:300);

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #101728;
}

header{
    height: 100px;
    background-color: rgb(147, 64, 255,0.3);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.logo{
    color: #fff;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;  
}
#imglogo{
    width: 110px;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
#logoimg{
    width: 110px;
    height: 110px;
}

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 00.4s;

}
.mostrar-menu{
    order: 1; 
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{color:#FF3C5F;}


#check{
    display: none;
}

a{
    text-decoration: none;
  }
  

  a.links{
    display: none;
  }
  

  .content{
    width: 500px;
    margin: 5px auto;
    position: relative; 
  }
  

  h1{
    font-size: 48px;
    color: #9340FF;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
  h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  }
  
  p{
    margin-bottom:15px;
  }
  p:first-child{
    margin: 0px;
  }
  label{
    color: #9340FF;
    position: relative;
  }
  

  ::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  } 
  input {
    outline: none;
  }
  
  input:not([type="checkbox"]){
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  input[type="submit"]{
    width: 100%!important;
    cursor: pointer;  
    background: #9340FF;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;  
    border: 1px solid #fff; 
    margin-bottom: 10px;  
    text-shadow: 0 1px 1px #333;
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    transition: all 0.2s linear;
  }
  input[type="submit"]:hover{
    background: #FF3C5F;
  }
  
  .link{
    position: absolute;
    background: #e1eaeb;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
  
    -webkit-border-radius: 0 0  5px 5px;
    border-radius: 0 0  5px 5px;
  }
  .link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: #9340FF;
    margin-left: 10px;
    border: 1px solid #9340FF;
  
    -webkit-border-radius: 4px;
    border-radius: 4px;  
  
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }
  .link a:hover {
    color: #FF3C5F;
    background: #f7f7f7;
    border: 1px solid #4ab3c6;
  }
  
  #cadastro, 
  #login{
    position: absolute;
    top: 0px;
    width: 88%; 
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    
    -webkit-box-shadow: 5px;
    border-radius: 5px;
    
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
  
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  
  #paracadastro:target ~ .content #cadastro,
  #paralogin:target ~ .content #login{
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
  }
  #registro:target ~ .content #login,
  #paralogin:target ~ .content #cadastro{
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
  
  @-webkit-keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  

  @-webkit-keyframes fadeOutLeft {
    0% {
      opacity: 1;
      -webkit-transform: translateX(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
    }
  }
  
  @keyframes fadeOutLeft {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

@media (max-width: 768px){

    .mostrar-menu, .esconder-menu{
        display: block;

    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #4d4d5c;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;

    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;

    }
    #check:checked ~ .menu{
        right: 0px;


    }
}