*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #101728;
}

header{
    height: 100px;
    background-color: rgb(147, 64, 255,0.3);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;

}

.logo{
    color: #fff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;  
}
#imglogo{
    width: 110px;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
#logoimg{
    width: 110px;
    height: 110px;
}

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 00.4s;

}
.mostrar-menu{
    order: 1; 
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{color: #6cc091;}


#check{
    display: none;
}

